<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1. 直接定义 className-->
    <bean id="bean1" class="org.springframework.beans.factory.type.BeanFactoryTypeInferenceTest.User"/>

    <!--2. FactoryBean-->
    <bean id="bean2" class="org.springframework.beans.factory.type.BeanFactoryTypeInferenceTest.UserFactoryBean"/>

    <!--3. 实例工厂-->
    <bean id="userFactory" class="org.springframework.beans.factory.type.BeanFactoryTypeInferenceTest.UserFactory"/>
    <bean id="bean3" factory-bean="userFactory" factory-method="getObject1"/>

    <!--4. 静态工厂-->
    <bean id="bean4" class="org.springframework.beans.factory.type.BeanFactoryTypeInferenceTest.UserFactory" factory-method="getObject2"/>

    <!--5. 带参的工厂方法，和构造器注入类似-->
    <!--5.1 工厂方法没有定义泛型-->
    <bean id="bean5.1" factory-bean="userFactory" factory-method="getObject3">
        <constructor-arg index="0" value="0"/>
        <constructor-arg index="1" value="1"/>
    </bean>

    <!--5.2 工厂方法定义泛型，但返回值类型与泛型无关-->
    <bean id="bean5.2" factory-bean="userFactory" factory-method="getObject4">
        <constructor-arg index="0" value="0"/>
        <constructor-arg index="1" value="1"/>
    </bean>

    <!--5.3 工厂方法定义泛型，返回值类型与参数类型决定-->
    <bean id="bean5.3" factory-bean="userFactory" factory-method="getObject5">
        <constructor-arg index="0" value="0"/>
    </bean>

    <!--6 静态工厂方法的返回值为一个 FactoryBean 类型-->
    <bean id="bean6.1" class="org.springframework.beans.factory.type.BeanFactoryTypeInferenceTest.UserFactory" factory-method="getObject6"/>

    <!--7 实例工厂方法的返回值为一个 FactoryBean 类型-->
    <bean id="bean6.2" factory-bean="userFactory" factory-method="getObject7"/>
</beans>
